//Font weight
$regular: normal;
$bold: bold;
$semibold: 600;
$medium: 500;
$thin: 100;
$extralight: 200;
$extrabold: 800;
$light: 300;
$font: 'Montserrat';

//Colors
$pink: #F0E6E5;
$pink-secondary: #DFD5D5;
$black: #9A9394;
$black-hover: #7F7A7B;
$red: #93555C;
$red-secondary: #CA8087;
$white: #fff;



